.Link_tailor {
  color: #fff;
  font-weight: bold;
  margin-right: 30px;
}

.Link_header {
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
}

.Link_header:hover {
  text-decoration: none;
  background-color: #fff;
  color: gray;
}

.Header_section {
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 25px;
}

.Header_info {
  text-align: center;
}

.Header_title {
  font-family: "Satisfy", cursive;
  margin-bottom: 25px;
  text-align: center;
}

.Paragraph_one {
  text-align: justify;
  font-family: "Piazzolla", serif;
}

.Button_shop {
  margin-bottom: 20px;
}

.Image_one {
  width: 100%;
  margin-bottom: 20px;
}

.Image_two {
  width: 100%;
  margin-bottom: 10px;
}
