body {
  font-family: "Piazzolla", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

.Link_tailor {
  color: #fff;
  font-weight: bold;
  margin-right: 30px;
}

.Link_header {
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
}

.Link_header:hover {
  text-decoration: none;
  background-color: #fff;
  color: #777;
}

.Header_section {
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 25px;
}

.Header_info {
  text-align: center;
}

.Header_title {
  font-family: "Satisfy", cursive;
  margin-bottom: 25px;
  text-align: center;
}

.Paragraph_one {
  text-align: justify;
  font-family: "Piazzolla", serif;
}

.Button_shop {
  margin-bottom: 20px;
}

.Image_one {
  width: 100%;
  margin-bottom: 20px;
}

.Image_two {
  width: 100%;
  margin-bottom: 10px;
}
.About_section {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.About_header {
  font-size: 45px;
  font-family: "Righteous", cursive;
}

.Paragraph_title {
  font-family: "Satisfy", cursive;
}

.About_title {
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
  border: 1px solid gray;
  padding-left: 0px;
  padding-right: 0px;
}

.Image_three {
  width: 100%;
  height: 150px;
}

.Title_paragraph {
  text-align: justify;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Piazzolla", serif;
}

.Blog_section {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.Blog_header {
  font-size: 45px;
  font-family: "Righteous", cursive;
}

.Blog_title {
  border: 1px solid gray;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.Blog_detail {
  text-align: justify;
  font-family: "Piazzolla", serif;
}

.Service_section {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.Service_title {
  font-size: 45px;
  font-family: "Righteous", cursive;
}

.Service_paragraph {
  text-align: justify;
  font-family: "Piazzolla", serif;
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 50px;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.8;
  cursor: pointer;
}

.Product_section {
  padding: 20px;
  text-align: center;
}

.Suit_header {
  font-family: "Satisfy", cursive;
  margin-bottom: 25px;
  font-size: 35px;
  color: green;
  text-align: center;
}

.Suit_image {
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  max-width: 300px;
}

.Suit_image:hover {
  border: 0.5px solid #777;
  opacity: 1;
}

.Suit_img {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
}

.Suit_title {
  color: green;
}
