.Link_tailor {
  color: #fff;
  font-weight: bold;
  margin-right: 30px;
}

.Link_header {
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
}

.Link_header:hover {
  text-decoration: none;
  background-color: #fff;
  color: gray;
}

.Header_section {
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 25px;
}

.Header_info {
  text-align: center;
}

.Header_title {
  font-family: "Satisfy", cursive;
  margin-bottom: 25px;
  text-align: center;
}

.Paragraph_one {
  text-align: justify;
  font-family: "Piazzolla", serif;
}

.Button_shop {
  margin-bottom: 20px;
}

.Image_one {
  width: 100%;
  margin-bottom: 20px;
}

.Image_two {
  width: 100%;
  margin-bottom: 10px;
}
.About_section {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.About_header {
  font-size: 45px;
  font-family: "Righteous", cursive;
}

.Paragraph_title {
  font-family: "Satisfy", cursive;
}

.About_title {
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
  border: 1px solid gray;
  padding-left: 0px;
  padding-right: 0px;
}

.Image_three {
  width: 100%;
  height: 150px;
}

.Title_paragraph {
  text-align: justify;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.Blog_section {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.Blog_header {
  font-size: 45px;
  font-family: "Righteous", cursive;
}

.Blog_title {
  border: 1px solid gray;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.Blog_detail {
  text-align: justify;
}

.Service_section {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.Service_title {
  font-size: 45px;
  font-family: "Righteous", cursive;
}

.Service_paragraph {
  text-align: justify;
}

.fa {
  margin-right: 20px;
}
