body {
  font-family: "Piazzolla", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

.Link_tailor {
  color: #fff;
  font-weight: bold;
  margin-right: 30px;
}

.Link_header {
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
}

.Link_header:hover {
  text-decoration: none;
  background-color: #fff;
  color: #777;
}

.Header_section {
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 25px;
}

.Header_info {
  text-align: center;
}

.Header_title {
  font-family: "Satisfy", cursive;
  margin-bottom: 25px;
  text-align: center;
}

.Header_paragraph-one {
  text-align: justify;
  font-family: "Piazzolla", serif;
}

.Button_shop {
  margin-bottom: 20px;
}

.Image_one {
  width: 100%;
  margin-bottom: 20px;
}

.Image_two {
  width: 100%;
  margin-bottom: 10px;
}

.Image_two-sub {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.Image_sub-paragraph {
  margin-bottom: -5px;
}

.About_section {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.About_header {
  font-size: 45px;
  font-family: "Righteous", cursive;
}

.Header_paragraph {
  font-family: "Satisfy", cursive;
}

.About_image {
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
  border: 1px solid gray;
  padding-left: 0px;
  padding-right: 0px;
}

.Image_three {
  width: 100%;
  height: 150px;
}

.Image_paragraph {
  text-align: justify;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Piazzolla", serif;
}

.Blog_section {
  padding-top: 30px;
  padding-bottom: 20px;
}

.Blog_header {
  font-size: 45px;
  font-family: "Righteous", cursive;
}

.Blog_info {
  border: 1px solid gray;
  padding: 15px 15px;
  text-align: center;
  margin-bottom: 10px;
}

.Blog_date {
  text-align: center;
  border: 1px solid;
  padding: 10px 20px;
  margin: 0 auto;
}

.Blog_detail {
  text-align: justify;
  font-family: "Piazzolla", serif;
}

.Service_section {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.Service_title {
  font-size: 45px;
  font-family: "Righteous", cursive;
}

.Service_paragraph {
  text-align: justify;
  font-family: "Piazzolla", serif;
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 50px;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.8;
  cursor: pointer;
}

.Product_section {
  text-align: center;
}

.Product_header {
  font-family: "Satisfy", cursive;
  margin-bottom: 25px;
  font-size: 35px;
  color: green;
  text-align: center;
}

.Suit_image {
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  max-width: 300px;
}

.Suit_image:hover {
  border: 0.5px solid #777;
  opacity: 1;
}

.Suit_img-one {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
}

.Suit_name {
  color: green;
}

.Service_section-main {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.Services_screen {
  padding-bottom: 20px;
  font-size: 45px;
  font-family: "Righteous", cursive;
}

.Measureone {
  width: 100%;
}

.Measuretwo {
  max-width: 100%;
  max-height: 100%;
}

.Measure_paragraph-one {
  text-align: justify;
}

.Measure_paragraph-two {
  padding: 10px;
  border: 1px solid;
}

.Appointment_header {
  margin-top: 30px;
}

.Number_header {
  margin-top: 30px;
}

.Location_header {
  margin-top: 30px;
}

.Measure_paragraph {
  text-align: justify;
}

.Service_main {
  margin-bottom: 20px;
  margin-top: 20px;
}

.Service_section-main {
  text-align: center;
}

.Blog_section-main {
  padding: 20px 15px;
}

.Blog_image-one {
  padding-bottom: 10px;
  width: 100%;
}

.Tailor_image-one {
  width: 100%;
}

.Blog_detail {
  padding-top: 40px;
  padding-bottom: 40px;
}

.Contact_section {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
}
